  .table-custom {
    tbody tr{
      height: 5px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 9px 0px #0000000b;
      opacity: 1;
      border: 3px solid transparent;
      vertical-align: middle;

      &:hover {
        background-color:#f5f5f5;
      }

      td{
        text-align: center;
        vertical-align: middle;
        align-items: center;
      }

      th{
        background: #333333 0% 0% no-repeat padding-box;
        border: 2px solid transparent;
        border-radius: 8px;
        opacity: 1;
        text-align: center;
        color: #fff;
        padding: 5px !important;
      }
      
      .td-usaha{
        text-align: left;
        display: flex;
        flex-direction: row;

        .span-text{
          padding-left: 0.5rem;
        }
        .span-icon-1{
          background: transparent linear-gradient(144deg, #16935B 0%, #29E692 100%) 0% 0% no-repeat padding-box;
          border-radius: 8px;
          color: #fff;
          padding: 5px;
          svg{
            margin-right: 0rem !important;
          }
        }
        .span-icon-2{
          background: transparent linear-gradient(146deg, #FFA127 0%, #F2334E 100%) 0% 0% no-repeat padding-box;
          border-radius: 8px;
          color: #fff;
          padding: 5px;
          svg{
            margin-right: 0rem !important;
          }
        }
      }
    }
  }
  
  .table td, .table th{
    padding: 5px 10px !important;
    border-top: 0px solid !important;
  }

  .table-pagination {
    float: right;
    margin: 0rem 1em;

    button, select, .page input{
      background-color: #fff;
      border: 2px solid #33333378;
      padding: 2px 7px;
      border-radius: 7px;
      font-size: 12px; 
      margin-bottom: 5px;
    }
    input {
      width: 45px;
    }
  }

  .td-greyout{
    font-size: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }

.spinner-cstm{
  display: inline-block;
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}