.modal-me{
    .modal-header{
        padding: 10px 15px !important;
        border-bottom: none !important;

        button{
            font-size: 20px;
        }

        .modal-title{
            font-size: 15px;
        }
    }

    
    .modal-body{
        padding: 1rem 2rem !important;
        margin-bottom: 1rem;
    }
}