.col-wrapper{
    margin-top: 1rem 1rem;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-control{
    font-size: inherit !important;
}
.span-tittle, .span-desk{
    font-weight: 700;
}
.span-detail,.mdl-desk{
    font-style: italic;
    margin-bottom: 1rem;
}
.table-view .col{
    padding : 1rem !important;
}
.row-detail{
    margin-top: 1rem;
    margin-left: 1rem;
}
.col-wrapper .dropdown button{
    background-color : transparent !important;
    color: #333;
    font-size: 15px;
    border : 0px !important;
    box-shadow : none !important;
}

.dpw-sort .dropdown-toggle::after{
    display: none !important;
}

.dpw-unduh{
    font-size: 12px;
    background-color: #fff;
    border-radius: 10px;
}
.dpw-unduh .btn{ 
    font-size: 12px;
}

.col-wrapper .dropdown div{
    font-size: 12px;
    padding: 5px;
}

.col-wrapper .dropdown div a{
    display: flex !important;
    align-items: center;
    padding: 0rem 0.5rem !important;
}

.col-wrapper .dropdown div a svg{
    margin-right: 5px;
}

.text-start .show>.btn-success.dropdown-toggle{
    color: #333;
}

.span-rincian{
    background-color: #333;
    padding: 1px 13px;
    border-radius: 14px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
}
.btn-back{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    /* padding: 6px; */
    box-shadow: 0px 0px 7px 0px #0000000b;
}
.btn-back svg{
    margin-right: 5px;
}
.btn-refresh{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    /* padding: 6px; */
    box-shadow: 0px 0px 7px 0px #0000000b;
}

.col-det-wrapper{
    background-color: #fff;
    border-radius: 15px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.det-content1{
    padding: 0px 25px;
}
.det-content1 .det-tittle{
    font-size: 12px;
    padding-bottom: 10px;
}
.det-content1 .det-title span svg{
    margin-right: 5px;
}
.det-content1 .det-data{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.det-content1 .det-data .span-tittle{
    font-weight: 700;
}
.det-content1 .det-data2{
    display: flex;
    padding: 5px 0px;
}
.det-content1 .det-start{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 5px;
}
.det-content1 .det-data2 .span-tittle{
    font-weight: 700;
}

.profil{
    padding: 7px;
    margin: 1.5rem 2em;
}
.profil .det-profil{
    display: flex;
    flex-direction: column;
    line-height: 23px;
}
.profil .det-profil .span-nama{
    font-size: 18px;
    font-weight: 700;
}
.profil .det-profil .span-alamat{
    font-size: 13px;
    color: rgb(97, 93, 93);
}
.span-icon-profil{
    font-size: 50px;
    background: transparent linear-gradient(
144deg
, #16935B 0%, #29E692 100%) 0% 0% no-repeat padding-box;
    border-radius: 26px;
    padding: 15px 25px;
    color: #fff;
    margin-right: 1rem;
}
.det-setting{
    right: 41px;
    position: absolute;
}
.det-setting .dropdown{
    font-size: 12px;
    background-color: #fff;
    border-radius: 17px;
}

.det-setting .dropdown button{
    background-color: #333!important;
    color: #fff;
    font-size: 15px;
    border: 0px !important;
    box-shadow: none !important;
    padding-right: 0px;
}

.det-setting .dropdown button:after{
    color: transparent !important;
}
.det-setting .dropdown .dropdown-menu .dropdown-item{    
    font-size: 12px;
    padding: 0px 13px !important;
}

.modal-coach .col-footer{
    justify-content: space-evenly !important;
}

.modal-coach .col-footer .simpan{
    background-color: #16935B;
}

.det-banner{
    background-image: url("../../../assets/appon/img_hp.png") no-repeat center center;
}
.det-image{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.det-image .img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.det-image .img-banner{
    max-width: 65%;
    margin-top: 27%;
    position: absolute;
    border: 2px dashed #333;
    border-radius: 15px;
    object-fit: cover;
    background-size: cover;
    object-position: center;
}

.det-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    button{
        font-size: 12px;
        background: #16935B;
        color: #fff;
        border-radius: 15px;
    }

    .det-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 9px;
        margin-top: 1rem;
        text-align: center;

        .span-ket{
            margin-top: 1rem;
            padding: 0rem 3rem;
        }
    }
}

.rdw-editor-wrapper{
    border: 1px solid #3333;
    border-radius: 5px;
    padding: 8px;
}

.span-desk{
    display: inline-block;
    margin-bottom: 0.5rem;
}

.dt-picker{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    span{
        margin-bottom: 0.5rem;
    }

    .react-datepicker-wrapper{
        margin-right: 1rem;

        div input{
            width: 100%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            padding: 4px 8px 6px 8px;
            margin-right: 10px;
            line-height: 2px;
        }
    }
}

.rad-kuota{
    display: flex;
    align-items: center;
    
    input{
        margin-right: 0.5rem;
    }

    input:checked{
    border: 5px solid #0DFF92;
    }
    
    input:checked ~ .check::before{
    background: #0DFF92;
    }
    
    input:checked ~ label{
    color: #0DFF92;
    }

    div input{        
        position: relative;
        margin-left: 10px;
        top: 8px;
    }
}

.total-group{
    display: flex;
    align-items: center;

    div input{        
        position: relative;
        margin-left: 10px;
        top: 8px;
    }
}

.collect-group{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .form-group{
        margin-bottom: 0rem !important;
        margin-right: 1rem;
    }
    .btn-collect{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #3333;
        border-radius: 7px;
        font-size: 10px;
        width: 100%;

        .collect-text{        
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 1rem;

            .btn-title{
                text-align: left;
            }
            
            .btn-desk{
                color: #16935B;
                font-style: italic;
                text-align: left;
            }
        }
    }
}

.btn-ctrl-form{
    float: right;
    margin: 1rem 0rem;

    .btn-batal:hover{
        background-color: #F2334E;
        color: #fff !important;
    }
    .btn-batal{
        border-radius: 15px;
        border: 1px solid #F2334E;
        color: #F2334E;
        font-size: 13px;
        padding: 0.4rem 1.5rem;
        margin-right: 1rem;
    }
    .btn-simpan:hover{
        background-color: #16935B;
        color: #fff !important;
    }
    .btn-simpan{        
        border-radius: 15px;
        border: 1px solid #16935B;
        color: #16935B;
        font-size: 13px;
        padding: 0.4rem 1.5rem;
    }
}

.grp-slc{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .form-group{
        width: 50%;

    }

    .btn-cari{
        margin-left: 10px;
        margin-top: 5px;
    }

    button{
        width: 30%;
    }
}
.btn-listokr-add{
    background-color: #16935B;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    padding: 6px 20px;
    margin-bottom: 0.5rem;
}
.grp-button-green{
    background-color: #16935B;
    color: #fff;
    border-radius: 15px;
    font-size: 9px;
    padding: 5px 10px;
}

.grp-button-bulk{
    color: #16935B;
    border: 1px solid #16935B;
    border-radius: 15px;
    font-size: 9px;
    padding: 5px 10px;
    margin-top: 7px;
    margin-left: 5px;
}

.grp-button-del{
    background-color: #f2334e;
    color: #fff;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 10px;
}

.grp-button-eye{
    background-color: #16935B;
    color: #fff;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 10px;
}

.btn-check {
    transition: none !important;
    svg{
        height: 15px;
    }
}

.col-kelas{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;

    .check-kelas{
        display: flex;
        align-items: center;

        input{
            margin-right: 10px;
        }
    }
}

.avatar-tools{
    display: flex;
    margin-top: 1rem;
    .avatar-zoom{
        margin-right: 1rem;
    }
}


.kolab-search{
    margin-bottom: 10px;
    .kolab-error{
        color: #f2334e;
    }
    .kolab-exist{
        color: #16935B;
    }
    label{
        font-weight: 700;
    }
    .kolab-content{
        display: flex;
        align-items: center;
        align-content: center;

        label{
            font-weight: 200;
            margin-bottom: 0rem !important;
            margin-right: 10px;
        }

        img{
            width: 10%;
            height: 10%;
            margin-right: 10px;
        }
    }
}

.react-datepicker{
    display: flex;
}
.react-datepicker__navigation{
    align-items: normal !important;
    top: 10px !important;
}

.btn-collect:hover:enabled, .btn-collect:focus:enabled {
    outline: 0;
    box-shadow: none !important;
}
  
.input-curr:focus,.input-curr:active{
  background-color: #fff;
  border-color: #333;
  outline: 1;
  border: 1px solid #333;
  box-shadow: none !important;
}