.col-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col-wrapper-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background: #fff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #fff;
}

.span-img-profil{
    display: flex;
    border: 2px solid #333;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin-right: 1rem;
    box-shadow: 1px 1px 7px #b5afaf, -5px -5px 13px #fff;

    img{
        width: 100%;
    }
}