.input-curr{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 4px 8px 6px 8px;
    margin-right: 10px;
    line-height: 2px;
}