body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-primary {
  background-color: #F2334E;
  color: #fff;
  padding: 6px 16px;
  font-size: 13px;
}

.button-primary:hover {
  color: #fff
}

.button-secondary {
  background-color: #333;
  color: #fff;
  padding: 6px 16px;
  font-size: 13px; 
}

.button-secondary:hover {
  color: #fff
}

.button-green {
  background-color: #16935B;
  color: #fff;
  padding: 6px 16px;
  font-size: 13px;
}

.button-green:hover {
  color: #fff
}

.button-white-orange {
  background-color: #fff;
  color: #fd7e14;
  padding: 6px 16px;
  font-weight: bold;
  font-size: 13px;
  margin: 16px;
}

.button-white-green {
  background-color: #fff;
  color: #16935B;
  padding: 6px 16px;
  font-weight: bold;
  font-size: 13px;
  margin: 16px;
}