.account-pages {
    .logo-admin {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0px auto;
        width: 74px;
        height: 74px;
        line-height: 74px;
        background: #fff;
        border-radius: 50%;
        border-bottom: 2px solid green;
      }
}

//  login-2

.accountbg {
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 80%;
    top: 0;
  }
  
  .account-page-full {    
    display: flex;
    right: 0;
    position: absolute;
    height: 100%;
    margin: 0;
    width: 420px;
    background-color: #fff;
  
    .card {
      border: none;
      height: auto !important;
    }
  }
  
  .account-copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
  }





// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}


//  Maintenance

.maintenance-img {
    img {
        max-width: 320px;
      }     
}


// Coundown

/*------------ Subscriber --------------*/


.coming-soon-search-form {
  input {
      padding: 15px 20px;
      width: 100%;
      color: #333;
      border: 2px solid #333;
      outline: none !important;
      padding-right: 180px;
      padding-left: 30px;
      border-radius: 30px;
      background-color: #fff;
  }
  button {
      position: absolute;
      top: 7px;
      right: 8px;
      outline: none !important;
      border-radius: 30px;
      padding: 9px 30px;
  }
  form {
      position: relative;
      max-width: 600px;
      margin: 0px auto;
  }
}

.auth-logo{
  height: 7rem;
}

.account-box{
  .card-box{
    .p-2{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span{
        font-size: 12px;
      }
    }
  }
}

.form-login{
  div input{
    background-color: #fff !important;
    border: 1px solid #3333336e;
    border-radius: 0px !important;

    &:focus{
      border-left: 2px solid red;
    }
  }

  button{
    background-color: #ee374f;
    border-radius: 0px !important;
    border-color: #ee374f !important;

    &:hover{
      background-color: #f59d32;
      border-color: #f59d32 !important;
    }
  }
}
.btn-login:not(:disabled):not(.disabled).active, .btn-login:not(:disabled):not(.disabled):active, .show>.btn-login.dropdown-toggle {
    color: #fff;
    background-color: #f59d32;
    border-color: #f59d32;
}

.btn-primary {
  color: #fff;
  background-color: #ee374f;
}

  

 